  .site-header {
    background-color:yellowgreen;
    border:2px solid black;
    box-shadow: 5px 5px black;
    padding:10px;
}

  h1 {
    display: grid;
    justify-items: center;
    align-items: center;
}