.site-header {
  display: flex;
  align-items: center;
  background-color:yellowgreen;
  border:2px solid black;
  box-shadow: 5px 5px black;
  padding:10px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}